@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(243 244 246);
}
.cursive {
  font-family: cursive;
}
/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
} */
